@charset "utf-8";
@width 100%;
@standart_color #222222;

*{
    font-family: Lato;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.clearfix{
    content: "";
    display: block;
    clear: both; 
}

body{
    background-size: 100%;
	background-color: #E5E5E5;
	height: 100%;
    margin: 0;
    padding: 0;
}
   

header, section, footer{
    font-family: Lato;
    margin:0;
}

header{
    width: 100%;
    
}

section{
    max-width: 1600px;
    padding-top: 75px;
    z-index: 1;
}

.navbar{
    background-color: #222222;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1;
    display: flex;
}
.navbar-container{
    width:100%;
    max-width: 1140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    float: left;
    align-items: center;
}

.navbar_icon_margin_right{
    margin-left:25px;
}
.navbar_icon_margin_right_burger{
    margin-left:41px;
}
.navbar_icon_margin_left{
    margin-right:41px;
}
.spacer{
    width: 100%;
}
@media (min-width:0){
    .navbar-container{
       padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width:369px){
    .navbar-container{
       padding-left: 6px;
        padding-right: 3px;
    }
}

/*Menu*/
.overlay {
  position: fixed;
  top: 75px;
  width: 100%;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
    
    /*Костыль для меню, лучшего не придумал*/
    z-index = -1;
}

.overlay.open {
  opacity: 1;
}

.menu {
  position: absolute;
  width: 232px;
  height: 100%;
  right: -232px;
  top: 0;
  transition: right 0.5s ease-in-out;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.overlay.open .menu {
  right: 0;
}

.menu__close{
    float:right;
    margin-top:16px;
    margin-right:17px;
}
.menu__close a{
    text-decoration: none;
    color:#222222;
} 
.menu__icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon__count {
  font-family: Lato;
  position: absolute;
  background: #f16d7f;
  color: #ffffff;
  padding: 0 2px;
  min-width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.menu__links h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color:#000000; 
    margin-top:37px;
    margin-left:34px;
}
.menu__links h3{
    font-size: 14px;
    line-height: 17px;
    margin-top:24px;
    margin-left:34px;
}
.menu__links h3 a{
    color: #F16D7F;
    text-decoration: none;
}
.menu__links h3 a:hover{
    color: #F15D7F;
    text-decoration: none;
    font-weight: 700;
}
.menu_link{
    width:200px;
    margin-left:54.5px;
    display: flex;
    text-decoration: none;
    
    justify-content: flex-start;
    align-items: flex-start;   
    flex-direction: column;
    justify-content: space-around;
}
.menu_link a{
    margin-top:11px;
    text-decoration: none;
    color:#6F6E6E;
}
.menu_link a:hover{
    text-decoration: none;
    color:#222222;
}

/*////////////////////*/
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    top:70px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    width:280px;  
}
.dropdown-content h2{
    margin:37px,0px,0px,34px;
    margin-left: 37px;
    font-weight: 700;
    font-size: 14px;
}
.dropdown-content h3{
    color:#F16D7F;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}
.dropdown-content a{
    text-decoration: none;
    color: #6F6E6E;
    margin-left: 12px;
    font-size: 14px;
}
.dropdown-content ol{
    list-style-type: none; 
    text-decoration: none;
}
.dropdown-content ol li{   
    margin-top:10px;
}
.dropdown-content a:hover {
    color: black;
}

.show {
    display: block;
}
/*////////////////////*/
  
section{
    margin: auto;
}

.frame_1{
    background-color: #F1E4E6;
    max-width: 1600px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.frame_1_img{
    float: left;
    max-width: 100%;
}
.frame_1_text{
    position: relative;
    padding-top:15%;
    padding-bottom: 15%;
    padding-left: 3%;
}
.block_rectangle_pink{  
    width:12px;
    height: 92px;
    background: #F16D7F;
}
.frame_1_text h2 {
    margin: 0;
}
.frame_1_text h3 {
    margin: 0;
}
.frame_1_text .block_text{
    margin-top:-90px;
    margin-left: 5%;    
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 46px;
    color: #222222;
}
.frame_1_text .block_text b{
    color: #F16D7F;
}

.frame_offer{
    margin: auto;
    width: 1140px;
    height:470px;
    position: relative;
    top: 63px;
    align-content: center;
   /*background-color: red;*/
}
.small_items{
    display: flex;
    justify-content: space-between;    
}

.item{
    width:360px;
    height: 260px;
    position: relative;
}
.item_img{
    width:360px;
    height: 260px;
}
.item_text{
    position: absolute;
    top:105px;
    width:360px;
    text-align: center; 
}

.item_text p{
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.item_text h2{
    margin: 0;
    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
}
.cover:before {
    content: "";
    position:absolute;
    left:0;  
    width: 360px;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.big_item{
    background-image: url(img/category_luxury.jpg);
    background-size: contain;
    top:30px;
    position: relative;
    width: 1140px;
    height:180px;
    display: flex;
    justify-content: center;
}
.big_item .cover:before{
    
    width: 1140px;
    height: 180px; 
    content: "";
    position:absolute;
    left:0;  
    background: rgba(0,0,0,0.5);
}
.big_item .item_text{
    top:65px;
    width: 100%;
    position: relative;
    width:360px;
    
}
.big_item a{
    text-decoration: none;
}

.frame_products_feauture{
    margin: auto;
    margin-top: 172px; /*75px начального отступа + 97px отступ от предыдущих элементов*/
    position: relative;
    text-align: center;    
}
.frame_products_feauture h2{
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.frame_products_feauture p{
    margin-top: 6px;
    padding: 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
}
.frame_products{
    position: relative;  
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
}
.frame_products .delivery{   
    float: left;
    position: relative;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.delivery_item{
    margin-top: 30px;
    display: inline-block;
    position: relative;
    float:left;
    background-color: #F8F8F8;
    width:360px;
    height:582px;
}
.delivery_button{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.delivery_item a { 
    display: block; position: relative; 
}
.delivery_item a:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.5);  
    opacity: 0;    
}
.delivery_item a:before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    opacity: 0; 
}
.delivery_item a:hover:before,
.delivery_item a:hover:after{ 
    opacity: 1; 
}
.delivery_item_postition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.delivery_item button{
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 40px;
    top: calc(50%);
    background: rgba(0, 0, 0, 0);
    color: #FFF;       
    border: 1px solid #FFF;
    transition: opacity 1;
}
.delivery_item button delivery_cart{
    width:20px;
    padding: 0;    
}
.delivery_item a:hover button {
    opacity: 1;
    transition: opacity .3s;
}
.textbox{
    margin-top:25px;
    margin-left:15px;
    margin-bottom:20px;
    font-size: 13px;
}
.delivery_item h2{
    margin: 0;
    font-size: 16px;
    
}
.delivery_item p{
    margin-top:13px;
}
.price{
    margin-top:12px;
    margin-bottom: 20px;
    color:#F16D7F;
    font-size: 14px;
}

.container_open_catalog{
    margin-top: 48.5px;
    margin-bottom: 95.5px;
}
.open_Catalog { 
    margin-left: auto;
    margin-right: auto;
    margin-top:33px;
    margin-bottom: 96px;
    width:211px;
    height: 47px;
    background: #ffffff;
    border: 1px solid #FF6A6A;
    transition: 0.2s;

    display: flex;
    flex-direction: center;
    text-align: center;
    
    text-decoration: none;
    color:#F26376;
    font-size: 16px;
    line-height: 19px;   
    font-weight: 400;
    margin: auto;
    position: relative;
}
.open_Catalog p {
    margin: auto;
}
.open_Catalog:hover { 
    background-color: #F16D7F;
    color: #FFFFFF;
}


.sub{
    position: relative; 
    width: 100%;  
    text-align: center;
    height: 191px;
    top:48.5px;
}
.sub input{
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}
.sub input:hover{
    background-color: #F16D7F;
    color:#FFF;
}



footer{
    width: 100%;
    position: relative;
    margin: auto;
    clear: both;
    margin-top: 1;
}

.footer_block_feature{  
    background-color: #222224;
    color:#FBFBFB;
    
    text-align: center;
    clear: both;        
    display: flex;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}
.block_feature{
   max-width: 1140px;
    
    text-align: center;
    clear: both;        
    display: flex;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px; 
}
.footer_block{  
    /*float:left;
    display: inline-block;*/
	width: 360px;
    height: 134px;
    /*vertical-align: top;*/
    margin-top:103px;
    margin-bottom: 103px;
}

.footer_block img{
    width:40px;
    height:40px;
}
.footer_block h2{
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px; 
    
    margin-top: 18px;
    margin-bottom: 0;
}
.footer_block p{
    padding-right:5%; 
    padding-left:5%;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    
    margin-top: 16px;
    margin-bottom: 0;
}


.footer_block_2{
    width:100%;
    height: 448px;
    background: url(img/footer_img.svg);
    background-size:cover;
    background-position: bottom left;
    
}
.footer_block_2 .opacity{
    width: 100%;
    height: 448px;
    background: rgba(244, 244, 244, 0.5); 
    color: black;
    
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
   
    text-align: center;
    vertical-align: middle;
}
.footer_block_2 .fx{
    display: flex;
    height:100%;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    
    max-width:1140px;
    margin-left: auto;
    margin-right: auto;
}
.block_left{
    width: 50%;
    width: 600px;
    height: 225px; 
}
.block_right{
    width: 50%;
    width: 600px;
    height: 225px;
    text-align: center;
}
.footer_block_2 .block_left p{
    margin:0;
    padding-top: 30px;
}
.footer_block_2 .block_right h2{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 37.73px;   
}
.footer_block_2 block_right h3{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;    
}
.footer_block_2 block_right form{
    margin-top:32px;
}

input[id="email"]{  
    background-color: #E1E1E1;
    border: 0px solid #222;
    padding: 0px 0px 0px 15px;
    width: 222px;
    height: 49px;
    border-radius: 14px 0px 0px 14px; 
}
button[type="submit"]{ 
    background: #F16D7F;
    color: #fff;
    height: 49px;
    padding: 0px 20px 0px 20px;
    border-radius: 0px 14px 14px 0px;
    cursor: pointer;
    width: 100px;
    margin-left:-5px;
    
    font-family: Lato;
    font-size: 14px;
     
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
}

.footer_block_3{
    width: 100%;
    background-color: #222224;
    color:#FBFBFB;
    height: 79px;
    display: flex;
    justify-content: center;
}
.copyright{
    font-size: 16px;
    line-height: 19px;
    width:250px;
}
.pop_icons{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block_icon img{
    fill:white;
}
.block_pack{
    margin-left:auto;
    margin-right:auto;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block_icon{
    float: right;
    margin-right: 10px;
    width:  32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    color: black;
}
.pink_colored{
    background-color: #F16D7F;
}
.block_icon img{
   filter: black;
}
.block_icon:hover svg {
    background-color: #F16D7F;
}
.block_icon:hover {
    background-color: #F16D7F;
    fill: white;
}

@media (min-width:0px) and (max-width:768px){
    .frame_1{
        flex-direction: column;
    }
    .frame_1_img{
        width: 100%;
    }
    .frame_1_text{
        width: 80%;
    }
    
    .frame_offer{
        /*background-color: blue;*/
        width:343px;
        height: 100%;
        top: 0;
    }
    .small_items{
        flex-direction: column;
        justify-content: flex-start;
    }
    .item{
        margin-top:32px;
    }
    .item, .item_img, .cover:before{
        
        margin-bottom: 0;
        width: 343px;
        height: 247px;
    }
    .item_text{
       width: 343px; 
    }
    
    .big_item {
        top:32px;
        width: 343px;
        height: 111px;
    }
    .big_item {
        background-image: url(img/category_luxury_small.png); 
    }
    .big_item .item_text{        
        width: 343px;
        top: 30px;
        margin: 0;
    }
    .big_item .cover:before{
        width: 343px;
        height: 111px;
    }   
    
    .frame_products{
        width: 372px;
    }
    .delivery{
        margin: auto;
        justify-content: space-around;
        width: 372px;
    }
    
    .block_feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 48px;
    }
    .footer_block{
        margin-top:48px;
        margin-bottom: 0px;
    }
    .footer_block_2, .footer_block_2 .opacity, .footer_block_2 .fx{
        height: 693px;
    }
    .footer_block_2 .fx{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .block_left{
        width: 360px;
        height: 225px; 
    }
    .block_right{
        width: 360px;
        height: 225px;
        text-align: center;
    }
    .footer_block_3{
        height:143px;
    }
    .block_pack{
        flex-direction: column;
        align-items: center;
        width:360px;
    }
    .pop_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .copyright{
        order:2;
    }
}

@media (min-width:769px) and (max-width:1140px){  
    .frame_1{
       flex-direction: row; 
    }
    .frame_1_img{
        width:50%;   
    }
   .frame_1_text{
       width: 50%;
    }
    .frame_offer{
        /*background-color: yellow;*/
        width:736px;
        height:303px;
    }
    .small_items{
        flex-direction: row;
        justify-content: space-between;
    }
    .item, .item_img, .cover:before{
        width: 232px;
        height: 167px;
    }
    .item_text{
       top:59px;
       width: 232px; 
    }
    
    .big_item {
        background-image: url(img/category_luxury.jpg); 
        top:19px;
        width: 736px;
        height: 116px;
    }
    .big_item .item_text{
        width: 736px;
        top: 33px;
    }
    .big_item .cover:before{
        width: 736px;
        height: 116px;
    }
    
    .frame_products{
        width: 736px;
    }
    .delivery{
        margin: auto;
        justify-content: space-around;
        width: 736px;
    }

    .block_feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 48px;
    }
    .footer_block{
        margin-top:48px;
        margin-bottom: 0px;
    }
    .footer_block_2, .footer_block_2 .opacity, .footer_block_2 .fx{
        height: 693px;
    }
    .footer_block_2 .fx{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .block_pack{
        width:768px;
    }
    .block_left{
        width: 500px;
        height: 225px; 
    }
    .block_right{
        width: 500px;
        height: 225px;
        text-align: center;
    }
}



/*Catalog*/
.catalog{
    width:100%;
    height: 148px;
    background-color: #F8F3F4;   
    margin-top:75px;
    left:0;
    position: absolute;
    margin: auto;
    clear: both;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.work_space{
    position: relative;
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.block_catalog{
    width: 100%;
}
.block_catalog{
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.catalog_menu{
    margin:0;
    padding:0;
    float: right;  
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    list-style-type: none;
    float: right;
    margin-left:0;
    text-transform: uppercase; 
}
.catalog_menu li{
    display: inline;
}
.catalog_menu li a{
    text-decoration: none;
    color: #636363;
}
.catalog_menu li:not(:last-child):after {
    content: " /"; 
}
.catalog_menu li a:hover{
    font-weight: 700;
    color: #222222;
}
.catalog_menu li .active_item {
    font-weight: 700;
    color: #F16D7F;
}
.btn-catalog{
    text-transform: uppercase;
}
.btn-catalog:hover { 
    color: #EF5B70;
}

/*mini_nav*/
.dropdown_block{
    max-width:1140px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
}
.dropdown_main{
    padding:0;
    position: relative;
    max-width: 100%;
    margin-top:0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dropdown_main li{
    margin-right: 28px;
}
.dropdown li{
    display: inline;
}
.dropdown_main li:last-child {
    padding-right: 0; 
    margin-right: 0;
}
.dropdown {
  display: inline-block;
  margin: 0 auto;
  position: relative;
    
}
.dropdown .-hover {
  color: ;
}
.dropdown .-hover > span {

}
.dropdown:after {
  content: '\25BC';
  font-size: 60%;
}
.dropdown.-hover .-list {
  display: none;
  width: calc(100% + 10px);
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: -5px;
  z-index: 10;
}
.dropdown.-hover .-list a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.dropdown.-hover .-list a:hover {
  color: #fdac7a;
}
.dropdown.-hover:hover .-list {
  display: block;
}
.dropdown:hover:after {
  content: '\25B2';
}
.checkbox_spacer{
    display: flex;
    align-items: center;
}
.checkbox_spacer input:after{
    
}

/*Cart*/
/*Cart*/

.navbar{
    z-index: 2;
}

.content{
    position: relative;
    margin-top: 150px;
    padding-top: 56px;
    width:1140px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
}
.content_block{
    width: calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:100%;
    margin-top: 40px;
}
.content .card-title{
    margin-bottom: 42px;
}
.content .card-text{
    margin-top:0;
    margin-bottom: 6px;
}
.quantity{
    width:43px;
    height:24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:25px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.content_controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128.5px;
    width: 600px;
}
.container_button .open_Catalog{
    background: rgba(0, 0, 0, 0);
    color: #A4A4A4;       
    border: 1px solid #A4A4A4;
    text-decoration: none;
    margin-bottom:0;
}
.container_button .open_Catalog:hover{
    background: rgba(0, 0, 0, 0);
    color: #222222;       
    border: 1px solid #222222;
    text-decoration: none;
    margin-bottom:0;
}
form .container_button .open_Catalog{
    float: left;
    border: 1px solid #A4A4A4;
    width:100px;
    height:34px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.content_block form{
    margin-top:46px;
    width:360px;  
}
.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total{
    width:360px;
    height: 214px;
    margin-top:57.5px;
    background-color: #F5F3F3;;
}
.total .text{
    padding:34px 34px 42px;
    float: right;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
}
.total_price{
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}
.price_s{
    margin-left:20px;
}
.total_big{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.price_big{
    margin-left:20px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.button_container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom_border_big{
    width:70%;
    margin-top: 21px;
    margin-bottom: 17px;
    border: 1px solid #EAEAEA;
}
.total .container_open_catalog{
    margin: 0px;
    
}
.bottom_margin{
    margin-bottom: 96px;
}

.content_block{
    display: flex;
    float: left;
    justify-content: flex-start;
    flex-direction: column;
}
.flex_checkboxes{
    display: flex;
}
.checkbox_right_margin{
    margin-right: 10px;
}

.button_registration{
    margin-top: 39px;
    margin-bottom: 0;
    
}
.button_registration .open_Catalog{
    margin-left: 0;   
}
.button_registration svg{
    fill:black;
    color: black;
}

.text_PS{
    margin-top: 46px;

}
.text_PS h2{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.text_PS p{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0px;
    color: #000000;
}
.text_PS ul{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-top: 21px;
    color: #000000;
}
.text_PS ul li{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-top: 16px;
    color: #000000;
}

.page-link {
    position: relative;
    display: block;
    color: #000000
}
@media (min-width:0px) and (max-width:768px){
    .content{
        width: 370px;
        flex-direction: column;
        margin-bottom: 0;
    }
    .content_block{
        width:100%;
    }
    .content_controls{
        width:370px;
        margin-bottom: 50px;
    }
    .content_controls .container_button .open_Catalog{
        width:175px;
    }
    .content_block form{
        margin-top:0;
        width:360px;  
    }
    .total{
        margin-bottom: 96px;
    }
    .text_PS{
        margin-bottom: 20px;
    }
 
}

@media (min-width:769px) and (max-width:1130px){  
    .content{
        flex-direction: column; 
        width:768px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .bottom_margin{
        margin-bottom: 0;    
    }
    .content_block{
        width:600px;
    }
    .total{
        margin-bottom: 96px;
    }
    .text_PS{
        margin-bottom: 20px;
    }    
}

/*Catalog*/
/*Product*/

/*Product*/

/*Catalog*/

.navbar{
    z-index: 2;
}

.delivery{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.frame_products{
    margin-top:129px;
    margin-bottom: 128px;
}

.carosel_block {
    margin: 0;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    width: 100%;
    height: 777px;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #F7F7F7;
    position: absolute;
    clear: both;
}
.carousel {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-left: 0;
}
.carousel .slide{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.carousel-control-prev, 
.carousel-control-next{
    width: 50%;
} 

.carousel-control-prev span, 
.carousel-control-next span{
    background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-prev, 
.carousel-control-next, 
.carousel-control-prev-icon, 
.carousel-control-next-icon{
    color: black;
    fill: black;
    /*background-color: black;*/
}

.carousel-control-prev{
    justify-content: left; 
}
.carousel-control-next{
    display: grid;
    justify-content: right; 
}

.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-item{
    width: 100%; 
	margin-right: 0;
    margin-left: 0;  
    
    position: relative;
	width: auto;
	margin: 0;
	justify-content: center;
}

.product_description_block{
    display: flex;
    justify-content: center;
    width:1140px;
    margin-left: auto;
    margin-right: auto;
}
.product_description{
    position: absolute;
    background-color: #FFFFFF;
    margin-top:855px;
    width: 1140px;
    height: 600px;
    z-index: 1;
    border: 1px solid #EAEAEA;
    
    display: flex;
    flex-direction:column;
    align-items: center;
}
.work_space{
    /*width:555px;*/
}

.product_description .collection{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top:65px;
    color: #F16D7F;
    margin-bottom: 0;
}
.bottom_border_color{
    width: 63px;
    height: 3px;
    margin-top:12px;
    background-color: #EF5B70;
    border: 1px solid #EF5B70;
}
.text_header{
    margin-top:12px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.product_description .text{
    width:555px;
    margin-top: 48.5px;
    margin-bottom: 0;
    text-align:center;   
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}
.product_description .price{
    margin-top: 48.5px;
    margin-bottom: 0;
    text-align:center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
.bottom_border_big{
    width:640px;
    margin-top: 35px;
    border: 1px solid #EAEAEA;
}

.product_menu{
    margin-top: 65px;
}

.product_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.product_menu ul li{
    display: inline-block;
}
.btn{
    margin-top: 0px;
}
.open_Catalog {
    display: flex;
    align-items: center;
    fill:#EF5B70;
    color:#EF5B70;
}
.open_Catalog svg{
    margin-left:28.5px; 
}
.container_open_catalog {
    margin-bottom:0;
}
.container_open_catalog:hover svg{
    fill:#FFFFFF;
}
.top_spacer{
    margin-top:1527px;
    margin-bottom: auto;
    position: relative; 
}

@media (min-width:0px) and (max-width:700px){
    .product_description, .product_description_block, .bottom_border_big{
        width:360px;
    }
    .bottom_border_big{
        width:360px;
    }
    .product_description, .product_description .text {
        width: 340px;
    }
    .product_description .text {
        margin-top:32px;
        font-size: 14px;
        line-height: 143.1%;
    }
    .product_description .price{
        margin-top:32px;
        font-size: 24px;
        line-height: 130%;
    }
    .bottom_border_big{
        margin-top:32px;
        width:175px;
    }
    .product_description .product_menu,
    .product_description .dropdown_block{
        width:304px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media (min-width:700px) {  
    .product_description, 
    .product_description_block,
    .bottom_border_big
    {
        width:600px;
    }
    .product_description .product_description .text {
        width: 450px;
    }
}
@media (min-width:1200px) {  
    .product_description, 
    .product_description_block
    {
        width:1140px;
    }
}

/*Catalog*/
.filters{
    margin-top:150px; /*75px - menu, 75px - catalog_menu, 50px - space*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.filter{
    width:200px;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
}
.filter img{
    margin-left:11px;
}
.filter p{
    margin: 0;
}
.filter a{
    display: flex;
    text-decoration: none;
    color: gray;
}
.filter a:hover{
    color: inherit;
}

.frame_products{
    position: relative;
    margin: 0;
    display: flex;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.frame_products{
    margin-top: 35px;
    
}

.delivery{

}

.pagination{
    margin: 0;
    margin-top: 48.5px;
    margin-bottom: 96.5px;
}
.pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-link{
    border: 0px solid #dee2e6;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;   
}
.page-link img{
    height:15px;
    
}
.pagination a{
    color:#dee2e6;
}
.page-link svg{
    fill:#222222;
}
.page-link:hover svg{
    fill:#EF5B70;
}
.page-link:hover{
    color:#EF5B70;
}

.filter .dropdown{
    margin-left: 0;
}
.filter .dropdown:after{
    content: "";
}



.filter_menu{
    position: absolute;
    width: 360px;
    position: absolute;
    background-color: white;
    border: 1px black;
    margin-top:-100px;
    
}
.filter_menu h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.filter_menu .category{
    display: flex;
    margin-left:17px;
    justify-content: flex-start;
}
.left_pink_block{
    width:5px;
    height:37px;
    display: flex;
    background-color: #EF5B70;
    color: #EF5B70;
    text-transform: uppercase;
}
.menu_work_space{
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
}
.menu_work_space li{
    margin-top:11px;
}
.menu_work_space h2{
    height:37px;
    display: flex;
    text-transform: uppercase;
    color: #EF5B70;
}
.menu_work_space{
    margin-left:11px;
}

@media (min-width:0px) and (max-width:400px){
    .work_space .filters .frame_offer .work_space .filters .dropdown_block .filter_menu .filters{
        width: 380px;
    }
    .dropdown_main{
        margin-right: 0;
        align-items: flex-end;
	    justify-content: flex-end;
    }
}
@media (min-width:0) and (max-width:768px){  
    .work_space .filters .frame_offer .work_space .filters .dropdown_block .filter_menu .filters{
        width: 600px;
    }
    .filter_menu .dropdown_main{
        width: 300px;
    }
    .frame_products{
        width: 360px;
    }
    .dropdown_main{
        margin-right: 0;
        align-items: flex-end;
	    justify-content: flex-end;
    }
}
@media (min-width:768px) and (max-width:1140px){  
    .work_space .filters .frame_offer .work_space .filters .dropdown_block .filter_menu .filters{
        width: 736px;
    }
    .filter_menu .dropdown_main{
        width: 736px;
    }
    .dropdown_main{
        margin-right: 0;
        align-items: flex-end;
	    justify-content: flex-end;
    }
    .frame_products{
        width: 736px;
    }
}
