/*Cart*/

.navbar{
    z-index: 2;
}

.content{
    position: relative;
    margin-top: 150px;
    padding-top: 56px;
    width:1140px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
}
.content_block{
    width: calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:100%;
    margin-top: 40px;
}
.content .card-title{
    margin-bottom: 42px;
}
.content .card-text{
    margin-top:0;
    margin-bottom: 6px;
}
.quantity{
    width:43px;
    height:24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:25px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.content_controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128.5px;
}
.container_button .open_Catalog{
    background: rgba(0, 0, 0, 0);
    color: #A4A4A4;       
    border: 1px solid #A4A4A4;
    text-decoration: none;
    margin-bottom:0;
}
.container_button .open_Catalog:hover{
    background: rgba(0, 0, 0, 0);
    color: #222222;       
    border: 1px solid #222222;
    text-decoration: none;
    margin-bottom:0;
}
form .container_button .open_Catalog{
    float: left;
    border: 1px solid #A4A4A4;
    width:100px;
    height:34px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.content_block form{
    margin-top:46px;
    width:360px;
    
}
.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total{
    width:360px;
    height: 214px;
    margin-top:57.5px;
    background-color: #F5F3F3;;
}
.total .text{
    padding:34px 34px 42px;
    float: right;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
}
.total_price{
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}
.price_s{
    margin-left:20px;
}
.total_big{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.price_big{
    margin-left:20px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.button_container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom_border_big{
    width:70%;
    margin-top: 21px;
    margin-bottom: 17px;
    border: 1px solid #EAEAEA;
}
.total .container_open_catalog{
    margin: 0px;
    
}
.bottom_margin{
    margin-bottom: 96px;
}

.content_block{
    display: flex;
    float: left;
    justify-content: flex-start;
    flex-direction: column;
}
.flex_checkboxes{
    display: flex;
}
.checkbox_right_margin{
    margin-right: 10px;
}

.button_registration{
    margin-top: 39px;
    margin-bottom: 0;
    
}
.button_registration .open_Catalog{
    margin-left: 0;   
}
.button_registration svg{
    fill:black;
    color: black;
}

.text_PS{
    margin-top: 46px;

}
.text_PS h2{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.text_PS p{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0px;
    color: #000000;
}
.text_PS ul{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-top: 21px;
    color: #000000;
}
.text_PS ul li{
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    margin-top: 16px;
    color: #000000;
}

@media (min-width:0px) and (max-width:768px){
    .content{
        width: 370px;
        flex-direction: column;
        margin-bottom: 0;
    }
    .content_block{
        width:100%;
    }
}

@media (min-width:768px) and (max-width:1130px){  
    .content{
        flex-direction: column; 
        width:768px;
    }
    .bottom_margin{
        margin-bottom: 0;    
    }
    .content_block{
        width:600px;
    }
}
